/* *{
    margin: 0;
    padding: 0;
} */
a:hover{
    text-decoration: none;
}
.section{
    margin-top: 70px;
    margin-bottom: 70px;
}
.section h2.section-head{
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}
#header{
    color: white;
    background-color: #e74c3c;
}
#logo{
    font-size: 2rem;
}
#header #menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
#header #menu li{
    display: inline-block;
}
#header #menu li a{
    /* background-color: antiquewhite; */
    color:white;
    padding: 15px;
    display: block;
}
#header #menu li a:hover{
    background-color: #c0392b;
}

/*  banner  */
#banner{
    background: url('../images/banner\ \(3\).jpg') no-repeat 0 0;
    background-size: cover;
    background-position: center;
}
.banner-title h1{
    background: rgba(255, 255, 255,0.8);
    margin: 0;
    padding: 15px;
    display: inline-block;

}
.banner-title .lead{
    color: white;
    background-color: #e74c3c;
    padding: 10px;
}

/* section  */
.section h2.section-head:after{
    background: #e74c3c;
    content: "";
    width: 100px;
    height: 3px;
    display: block;
    margin: 20px auto;

}
.service-box{
    text-align: center;
}

/* Testimonial  */
.testimonil{
    background: url('../images/testi_back.jpg') no-repeat 0 0;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    color: white;
    position: relative;
    /* margin-top: 8rem; */
}
.testimonil:after{
    background: rgba(121, 31, 224, 0.2);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.testimonil img{
    border-radius: 50%;
}
.testimonil h2.section-head{
    color: white;
}